#footer-wrapper p {
    margin: 5px;
}

#footer-wrapper a {
    text-decoration: none
}

#footer-wrapper {
    background: rgb(84, 28, 48);
    color: white;
}

.news-wrapper {
    margin: auto
}

@media screen and (max-width: 1000px) {}

@media screen and (max-width: 640px) {
    #footer-wrapper p {
        font-size: 10px;
    }
}